body {
    font-family: "Arial", sans-serif;
    color: #333;
}

/* Hero Section */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
}

/* Room Cards */
.room-card {
    transition: transform 0.3s ease;
}
.room-card:hover {
    transform: translateY(-5px);
}

/* Custom Button */
.btn-primary {
    background-color: #b99663;
    border-color: #b99663;
}
.btn-primary:hover {
    background-color: #a38453;
}

.text-primary {
    color: #b99663 !important;
}

/* Điều chỉnh khoảng cách Icon */
#services img {
    display: block;
    margin: 0 auto;
}
/* social */
.social-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-right: 10px;
    font-size: 1.2rem;
}

/* Hiệu ứng khi di chuột vào nút Facebook */
.social-btn.facebook:hover {
    background-color: #1877f2;
    transform: translateY(-3px);
    color: white;
}

/* Hiệu ứng khi di chuột vào nút Instagram */
.social-btn.instagram:hover {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    transform: translateY(-3px);
    color: white;
    border: none;
}
