body {
    font-family: "Arial", sans-serif;
    color: #333;
}

/* Hero Section */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
}

/* Room Cards */
.room-card {
    transition: transform 0.3s ease;
}
.room-card:hover {
    transform: translateY(-5px);
}

/* Custom Button */
.btn-primary {
    background-color: #b99663;
    border-color: #b99663;
}
.btn-primary:hover {
    background-color: #a38453;
}

.text-primary {
    color: #b99663 !important;
}

/* Điều chỉnh khoảng cách Icon */
#services img {
    display: block;
    margin: 0 auto;
}
