body{
    background-image: url('/img/background.jpg');
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
h2{
    width: 900px;
    padding-left: 10px;
    font-size: xx-large;
    font-style: italic;
    letter-spacing: 20px;
    text-indent: 150px;
    background-color: green;
    margin: 0px;
}
h3{
    width: 300px;
    padding-left: 10px;
    background-color: green;
}
address{
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 1px;
    clear: all;
}
.title div{
    margin-top: 20px;
}
.picture{
    padding-top: 100px;
}
.noidung{
    border-left: solid green;
    margin-left: 10px;
    padding-left: 30px;
}
.footer{
    border-top: solid green;
    margin-top: 20px;
    text-align: center;
    /* padding-left: 100px; */
    padding-top: 10px;
}
.logo{
    margin-bottom: 20px;
}
.links{
    /* margin-right: 300px; */
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
    width: 250px;
}
.links a{
    padding-left: 10px;
    /* padding-left: 50px; */
    padding-bottom: 20px;
    background-color: white;
}