.container {
    display: grid;
    grid-template-areas: 
    "menu menu" 
    "header header" 
    "section aside" 
    "footer footer";
    width: 960px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}

.menu {
    grid-area: menu;
    display: flex;
}

.header {
    grid-area: header;
}

.header img {
    width: 960px;
}

.section {
    grid-area: section;
    background-color: #eef5ff;
    margin: 5px;
    padding: 20px;
}

input {
    padding: 5px;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
    color: white;
    background-color: #1a2c50;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: small;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.link {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    /* flex-direction: column; */
}

.link a:hover {
    color: blue;
}

.link a {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

.subject-input {
    width: 88%;
}

button {
    background-color: #0463fb;
    width: 92%;
    color: white;
    border: none;
    height: 30px;
}

.box1 {
    display: flex;
}

.box1 p {
    margin-left: 30px;
}

.box2 {
    display: flex;
}

.box2 p {
    margin-left: 30px;
}

.box3 img {
    width: 100%;
}

.message {
    width: 90%;
}

.form input {
    margin: 10px;
}

.form textarea {
    margin: 10px;
}

.form button {
    margin: 10px;
}